<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:replace="~{fragments/navigation :: navigation}"></div>
<button type="button"><a href="/przewoznikForm">Dodaj</a></button>
<hr>
<span th:if="${listaLoty.isEmpty()}">Brak żądanych lotów</span>
<div th:each="lot : ${listaLoty}">
    Odlot z : <span th:text="*{lot.zmiasto.nazwa}"></span><br>
    Lot do : <span th:text="*{lot.domiasto.nazwa}"></span><br>
    Przewoznik : <span th:text="*{lot.przewoznik.nazwa}"></span><br>
    Klasa : <span th:text="*{lot.klasa.nazwa}"></span><br>
    Data : <span th:text="*{lot.data}"></span><br>
    <span th:if="*{lot.od_okna == true}">Od okna : Tak</span>
    <span th:if="*{lot.od_okna == false}">Od okna : Nie</span>
    <button type="button"><a th:href="@{'/lotForm?id=' + *{lot.id}}">Edytuj</a></button>
    <hr>
</div>
<button type="button"><a href="/lotForm">Dodaj</a></button>
</body>
</html>